<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Sprint Retrospective</a>
        <ul class="nav">
            <li class="divider-vertical"></li>
            <li id="Home">@Html.ActionLink("Home", "Bootstrap", "Home")</li>
            <li class="divider-vertical"></li>
            <li id="Retrospect">@Html.ActionLink("Retrospect", "Index", "Retrospect")</li>
            <li class="divider-vertical"></li>
            <li id="Team">@Html.ActionLink("Team", "Index", "Team")</li>
            <li class="divider-vertical"></li>
            <li id="Sprint">@Html.ActionLink("Sprints", "Index", "Sprint")</li>
            <li class="divider-vertical"></li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function () {
        var address = location.href;

        if (address.indexOf('Home')) {
            $('#Home').attr('class', 'active');
        }

        if (address.indexOf('Retrospect')) {
            $('#Retrospect').attr('class', 'active');
        }

        if (address.indexOf('Team')) {
            $('#Team').attr('class', 'active');
        }

        if (address.indexOf('Sprint')) {
            $('#Sprint').attr('class', 'active');
        }
    });
</script>