@{
    ViewBag.Title = "Bootstrap";
    Layout = "~/Views/Shared/_Bootstrap_layout.cshtml";
}

<h2>Sprint Retrospective</h2>

<p>This is a meeting facilitated by the ScrumMaster at which the Team discusses the just concluded Sprint and determines what could be changed that might make the next Sprint more enjoyable and productive. The Sprint Review looks at "What" the team are building whereas the Retrospective looks at "How" they are building.</p>
<p>Anything that affects how the team builds software is open for debate, this might include: processes, practices, communication, environment, artefacts and tools.</p>
<p>Scrum is not a prescriptive methodology but rather it is a framework that should be adapted appropriately for any given project, team and specific circumstances. The Sprint retrospective is an important mechanism that allows a team to continuously evolve and improve through the life of a project.</p>
<p>It is important that everyone (including the Team, Product Owner and ScrumMaster) get a chance to air their opinion in an open, honest yet constructive atmosphere. It often helps to get an external facilitator in to help gain the maximum benefit from the retrospective; this approach has the additional benefit of freeing the ScrumMaster to participate more fully in the meeting. An impartial facilitator is particularly useful if emotions and relationships in the team are not as harmonious as they could be.</p>
<p>Key elements of the Sprint Retrospective are:</p>

<ul>
    <li>Process improvements are made at end of every Sprint - ensures that the project team is always improving the way it works.</li>
    <li>The Retrospective is a collaborative process between all members of the Team, the Product Owner, and the ScrumMaster.</li>
    <li>All team members identify what went well and what can be improved</li>
    <li>ScrumMaster prioritises actions and lessons learnt based on Team direction</li>
    <li>Team devises solution to most vexing problems - helps to build the team ownership and self management.</li>
    <li>Helps the team formation and bonding as any areas of conflict can be identified and dealt with.</li>
</ul>